*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, input, p, blockquote, th, td{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'PingFangSC-Regular','STHeiti Light','helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif;
    color: #333;
    font-size: 14px;
}


a{
    color: #333;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    border: 0;
}

.container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.container-sm{
    position: relative;
    width: 700px;
    margin: 0 auto;
}